.navbar-top-links{
	color: rgb(255, 255, 255);
    margin: 0 20px 0 0;
}
.navbar-top-links li:first-child{

    padding-right:20px;
}
.required{
	color:red;
}
.errorMessage{
	display:none;
}
.form-group{
	padding-bottom:25px !important;
}
#main-menu li a:hover{
	background-color:#225081;
}